*{
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}
html,body{
    margin:0px;
    padding:0px;
    overflow: auto;
    background: #232321;
    color: #fafafa;
    font-family: Microsoft JhengHei;
}
h1 {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}
textarea {
    margin: 0px;
    width: 280px;
    height: 140px;
    padding: 0px;
    border-width: 10px;
    border-color: #00b7ee;
    border-radius: 20px;
    border-style: solid;
    font-size: 20px;
    resize: none;
    text-align: center;
    float: left;
    background-color: rgba(0,0,0,0);
}
aside div{
    margin: 0;
    padding: 0;
    top: 50px;
    left: 114px;
    width: 52px;
    position: absolute;
}
/*頁首*/
.header{
    height:50pX;
    background: #505050;
}
.backindex{
    position: relative;
    float: right;
    margin-right: 10px; 
    height: 40px;
    width: 60px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.backindex:hover{
    cursor: pointer;
}
/*頁尾*/
.footer{
}