/*頁面內容*/
	/*背景*/
		textarea {
		    border-color: #fc9a9f;
		}
		.banner{
			background-color: #F06C73;
		}
		.backfont{
			left:0px;
			color: #d04C53;
		}
	/*主框說明樣式*/
		h3{
			color: #b8151e;
		}
	/*主框內容樣式*/
		.mainframe{
			margin: 10px auto;
			height: 780px;
		}
		.mainframe .btframe:nth-child(1){
			position: relative;
			height: 80px;
		}
		.mainframe .btframe :nth-child(1){
			color: #b8151e;
		}
		.mainframe .btframe :hover{
			color: #FFF;
		}
		.dateframe{
			border-color: #fc9a9f;
			width: 280px;
		}
		.resframe{
			position: relative;			
			margin: 0 auto;
			width: 670px;
			height: 150px;
			left: 50px;
		}
		.resframe div{
			margin: 2px;
			float: left;
		}
		.yearframe{
			border-color: #fc9a9f;
		}
		.btframe :nth-child(1){
			color: red;
		}
		.btframe :nth-child(2){
			color: #b8151e;
		}
		.btframe .dateframe:hover{
            background-color: rgba(208,76,83,0.6);
            color : #FFF;
        }
/*資訊版樣式*/
	.infoframe{
		border-color: #fc9a9f;
		background-color: #F06C73;
		color : #b8151e;
	}
	.infoframe textarea{
		color: #b8151e;
	}