/*頁面內容*/
	/*背景*/
		.banner{
			background-color: #3E606F;
		}
		.backfont{
			right:0px;
			color: #193441;
		}
	/*主框說明樣式*/
		h3{
			color: #FCFFF5;
		}
	/*主框內容樣式*/
		.dateframe{
			border-color: #91AA9D;
			width: 400px;
		}
		.yearframe{
			border-color: #91AA9D;
		}
		.btframe :nth-child(2){
			color: #FCFFF5;
		}
		.btframe .dateframe:hover{
            background-color: rgba(29,85,157,0.6);
            color : #FFF;
        }
/*資訊版樣式*/
	.infoframe{
		border-color: #91AA9D;
		background-color: #D1DBBD;
		color : #FCFFF5;
	}
	.infoframe textarea{
		color: #FCFFF5;
	}
