/*共同頁面樣式*/
	/*說明選單*/
		#readme{
		    background-color: rgba(0,0,0,0.8);
		    z-index: 4;
		    width: 500px;
		    left: -500px;
		    height: 100%;
		    top: 0;
		    position: fixed;
		}
		#readme button {
		    background-color: rgba(0,0,0,0.8);
		    display: block;
		    position: absolute;
		    top: 150px;
		    left: 500px;
		    width: 52px;
		    height: 132px;
		    margin: 0;
		    padding: 0;
		    border: none;
		    color: #FFF;
		    font-size: 30px;
		    cursor: pointer;
		}
		.rm{
			margin-top: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		 	margin-left: 80px;
			font-size: 26px;
			text-align: left;
		}
	/*背景*/
		.banner{
			position: relative;
			height: 800px;
			padding: 0px 0px 0px;
			text-align: center;
			overflow: hidden;
		}
		.backfont{
			position: absolute;
			z-index: 0;
			margin: 0;
			top:100px;
			font-size: 700px;
			font-weight: 400;
		}
	/*主外框*/
		.mainframe{
			position: relative;
			padding: 0;
			z-index: 2;
			margin: 50px auto;
			height: 700px;
			width: 900px;
			border-style: solid;
			border-width: 3px;
			background-color: rgba(255,255,255,0.1);
			color : #FFF;
		}
	/*主框說明樣式*/
		h3{
			font-size: 30px;
			font-weight: 400;
		}
		.tftext h3{
			text-align: center;
			line-height: 70px;
			margin: 0;
		}
	/*主框內容樣式*/
		.dateframe{
			text-align: center;
			border-width: 10px;
			border-radius: 20px;
			border-style: solid;
			background-color: rgba(0,0,0,0);
			height: 70px;
			font-size: 30px;
			color: #000;
		}
		#tdstart.dateframe,#tdend.dateframe{
			width: 200px;	
		}
		.yearframe{
			text-align: center;
			border-width: 10px;
			border-radius: 20px;
			border-style: solid;
			background-color: rgba(0,0,0,0);
			height: 70px;
			width: 400px;
			font-size: 30px;
		}
		.trainframe{
			position: relative;
			margin:0 auto;
			width: 540px;
			height: 140px;
		}

		.tftext{
			text-align: center;
			width: 30px;
			height: 70px;
			float: left;
		}
		.tfdate{
			text-align: center;
			margin: 0;
			width: 200px;
			height: 250px;
			float: left;
		}
		.trainframe i{
			margin-top: 5px;
			padding: 1px;
			line-height: 70px;
			font-size: 50px;
		}
		.trainframe i:hover{
			cursor: pointer;
		}
		.btframe{
			position: absolute;
			margin:0 50%;
			left: -213px;
			width: 450px;
			height: 140px;
		}
		.btframe .dateframe{
			text-align: center;
			margin-top: 20px;
			margin-right: 10px;
			width: 200px;
			height: 70px;
			line-height: 50px;
			float: left;
			cursor: pointer;
		}
		/*CLEAr按鈕*/
		.btframe :nth-child(1){
			color: red;
		}
	/*資訊版*/
		.banner span {  /*背景*/
		    position: absolute;
		    display: block;
		    z-index: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    box-shadow: inset 0 0 200px rgba(50, 30, 0, 0.6),
		                inset 0 0 200px rgba(50, 30, 0, 0.6);
		    background: rgba(0, 0, 0, 0.6);
		    opacity: 0;
		}
		.infoframe{
			position: relative;
			padding: 0;
			z-index: 2;
			margin: 100px auto;
			height: 600px;
			width: 600px;
			border-width: 10px;
			border-radius: 20px;
			border-style: solid;
		}
		.infoframe textarea{
			text-align: left;
			font-family: Microsoft JhengHei;
			background-color: rgba(0,0,0,0);
			margin: 0;
			padding:5px;
			width: 580px;
			height: 580px;
			border-width: 0px;
			border-radius: 20px;
			font-size: 40px;
		}